<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

            <main>
                <%- body %>
            </main>

            <%- include('../partials/footer') %>

            <!-- Link to create error 500 -->

            <div>
                <a href="/inv/error500" title="Trigger a 500 error">Error Link</a>
            </div>
        </div>

    </body>
</html>