
<h1>Confirm Deletion</h1>

<div class="flash-message">
    <% if (messages.length > 0) { %>
        <%- messages.join('<br>') %>
    <% } %>
</div>

<p>Confirm Deletion - The delete is permanent.</p>

<form action="/inv/delete/<%= locals.inv_id %>" method="POST">

    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" required pattern="^[A-Za-z]{3,}$" value="<%- locals.inv_make %>">

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" required pattern="^[A-Za-z]{3,}$" value="<%- locals.inv_model %>">

    <label for="inv_year">Year:</label>
    <input type="number" id="inv_year" name="inv_year" required value="<%- locals.inv_year %>">

    <label for="inv_price">Price:</label>
    <input type="number" id="inv_price" name="inv_price" required value="<%- locals.inv_price %>">

    <button type="submit">Delete</button>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>

